/* css reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 1rem;
    min-height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right top,
     #65dfc9,#6cdbeb);
}

/* my style */

.main-container {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),
    rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
}

.circle1, .circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),
    rgba(255,255,255,0.3));
    position: absolute;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 15%;
    background-color: #333;
}
.circle2 {
    bottom: 1%;
    left: 10%;
    background-color: #333;
}



/* header style */
header div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),
    rgba(255,255,255,0.3));
    text-align: center;
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    border: solid #333;
    box-shadow: 7px -7px #333;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 2REM;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),
    rgba(255,255,255,0.3));
    margin-top: 1rem;
    border-radius: 1rem;
    
}

.welcome-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15rem;
    height: 70vh;
    width: 50%;
    background: #333;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),
    rgba(255,255,255,0.3));
    border-radius: 22px;
    box-shadow: 7px -9px;
    
}

.rules > p {
    font-size: 2rem;
    text-align: left;
    margin: 5rem;
    background: linear-gradient(to right top,
     #65dfc9,#6cdbeb);
    box-shadow: 7px -9px #333;
    border-radius: 1rem;
    padding: 15px;
}

.rules > p:hover {
    
}

.start-btn {
    height: 15rem;  
}

.btn {
    width: 300px;
    height: 6rem;
    border-radius: 40px;
    font-size: 24px;
    cursor: pointer;
    background: linear-gradient(to right top,
     #65dfc9,#6cdbeb);
    box-shadow: 7px -7px #333;
    color: black;
}

.btn:hover {
    background-color: #333;
    /* box-shadow: 7px -7px #333; */
}


/* Option page style */

.option-page {
    display: none;
    flex-direction: column;
    gap: 50px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 205px;
}


.player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px;
    background-color: #333;
    color: hwb(60 52% 11%);
    font-size: 2rem;
    border-radius: 50px;
    cursor: pointer;

}

.player:hover {
    background-color: lightseagreen;
}


/* Game page style */
.game-page {
    display: none;
    flex-direction: row;
}

.game-side {
    width: 56px;
    background-color: bisque;
}

.control {
    width: 89px;
    background-color: aqua;
    height: 900px;
}

/* get player name style */

.get-player-name {
    display: none;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 900px;
}


#name {
    width: 400px;
    height: 85px;
    border-radius: 15px;
    font-size: 1.5rem;
}

#name::placeholder {
    font-size: 1.5rem; 
    color: #333;
    font-weight: bolder;
    padding-left: 4px;
}

#name[type="text"] {
    text-align: center;
}

#btn, .restart, .end-game {
    width: 250px;
    height: 60px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #333;
}

#btn:hover {
    background-color: lightseagreen;
}

#btn[type='submit'] {
    color: hwb(60 52% 11%);
    font-size: 1.5rem;
}



/* game page style */

.game-page {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.score-area {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border: solid black; */
    width: 100%;
    height: 200px;
    /* background-color: aqua; */
}

.score-area, h2, h3 {
    margin-left: 10px;
    margin-top: 15px;
}

#scr {
    font-size: 2rem;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    /* background-color: rebeccapurple; */
}

.answer {
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 480px;
}

.option {
    display: flex;
    justify-content: center;
    gap: 35px;
    width: 100%;
    height: 110px;
    /* background-color: skyblue; */
    padding-top: 22px;
}

.reset, .check, .change {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid black; */
    background-color: #333;
    color: hwb(60 52% 11%);
    width: 200px;
    height: 65px;
    border-radius: 30px;
    cursor: pointer;
}

.reset:hover, .check:hover, .change:hover {
    background-color: lightseagreen;
}

.display-letter {
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: 3px;
    text-decoration: underline;
}

#answ {
    width: 550px;
    height: 75px;
    border: 2px solid #333;
    border-radius: 15px;
    font-size: 2rem ;
    
}

#answ[type='text'] {
    text-align: center;
}
#answ::placeholder {
   font-size: 1.5rem; 
   color: #333;
   font-weight: bolder;
   padding-left: 4px;
}

.hint, .timer {
    /* margin-right: 340px; */
    font-size: 1.5rem;
    font-weight: bolder;
    
}

/* end of the game */

.end-of-page {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
    /* background-color: blueviolet; */
    height: 900px;
}

.restart:hover, .end-game:hover {
    background-color: lightseagreen;
}

.restart, .end-game {
    color: hwb(60 52% 11%);
    font-size: 1.5rem;
}

