/* css reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

body {
    font-size: 16px;
    min-height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #000; */
    background-image: url('https://clipart-library.com/img/1933653.jpg');
}

/* my style */

.main-container {
    background-color: hwb(60 52% 11%);
    width: 1200px;
    height: 900px;
    margin-left: 18%;
    margin-top: 5%;
    margin-bottom: 15%;
    border-radius: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

/* header style */
header h2 {
    /* border: solid black; */
    width: 1200px;
    height: 55px;
    /* border-color: black; */
    color: black;
    margin-top: 55px;
    margin-left: 18%;
    text-align: center;
    padding-top: 10px;
    background-color: hwb(60 52% 11%);
    border-radius: 20px;
    
}

/* welcome container */
.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1200px;
    height: 900px;
}

.welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.welcome-message {
    height: 200px;
    /* background-color: black; */
    margin: 36px;
    border-radius: 50px;
    background-color: black;

}

.welcome-message > p {
    font-size: 2rem;
    padding-top: 65px;
    margin: 15px;
    color: hwb(60 52% 11%);

}

.rules {
    height: 500px;
    background-color: black;
    margin: 36px;
    border-radius: 22px;
    
}

.rules > p {
    color: hwb(60 52% 11%);
    font-size: 2rem;
    margin: 15px;
}

.start-btn {
    height: 55px;
    margin-bottom: 1.5rem;
}

.btn {
    width: 200px;
    height: 50px;
    border-radius: 40px;
    font-size: 24px;
    cursor: pointer;
    background-color: #000;
    color: hwb(60 52% 11%);
}

.btn:hover {
    background-color: lightseagreen;
}


/* Option page style */

.option-page {
    display: none;
    flex-direction: column;
    gap: 50px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 205px;
}


.player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px;
    background-color: #000;
    color: hwb(60 52% 11%);
    font-size: 2rem;
    border-radius: 50px;
    cursor: pointer;

}

.player:hover {
    background-color: lightseagreen;
}


/* Game page style */
.game-page {
    display: none;
    flex-direction: row;
}

.game-side {
    width: 56px;
    background-color: bisque;
}

.control {
    width: 89px;
    background-color: aqua;
    height: 900px;
}

/* get player name style */

.get-player-name {
    display: none;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

/* .player-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px;
    background-color: #000;
    color: white;
    font-size: 2rem;
    border-radius: 50px;
    cursor: pointer;
} */
#name {
    width: 400px;
    height: 85px;
    border-radius: 15px;
    font-size: 1.5rem;
}

#name::placeholder {
    font-size: 1.5rem; 
    color: #333;
    font-weight: bolder;
    padding-left: 4px;
}

#name[type="text"] {
    text-align: center;
}

#btn {
    width: 250px;
    height: 60px;
    border-radius: 15px;
    cursor: pointer;
    border-width: opx;
    background-color: #333;
}

#btn:hover {
    background-color: lightseagreen;;
}

#btn[type='submit'] {
    color: hwb(60 52% 11%);
    font-size: 1.5rem;
}



/* game page style */

.game-page {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.score-area {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border: solid black; */
    width: 100%;
    height: 200px;
    /* background-color: aqua; */
}

.score-area, h2, h3 {
    margin-left: 10px;
    margin-top: 15px;
}

#scr {
    font-size: 2rem;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    /* background-color: rebeccapurple; */
}

.answer {
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 480px;
}

.option {
    display: flex;
    justify-content: center;
    gap: 35px;
    width: 100%;
    height: 110px;
    /* background-color: skyblue; */
    padding-top: 22px;
}

.reset, .check, .change {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    width: 200px;
    height: 65px;
    border-radius: 30px;
    cursor: pointer;
}

.reset:hover, .check:hover, .change:hover {
    background-color: lightseagreen;
}

.display-letter {
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: 3px;
}

#answ {
    width: 550px;
    height: 75px;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 2rem ;
    
}

#answ[type='text'] {
    text-align: center;
}
#answ::placeholder {
   font-size: 1.5rem; 
   color: #333;
   font-weight: bolder;
   padding-left: 4px;
}

.hint, .timer {
    /* margin-right: 340px; */
    font-size: 1.5rem;
    font-weight: bolder;
    
}

/* end of the game */

.end-of-page {
    display: none;
}
